*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#canvas-lobby {
  border: 1px solid black;
}
